@font-face {
  font-family: 'Exo2';
  src: url('fonts/Exo2-Regular.woff2?sha=123456789') format('woff2'), url('fonts/Exo2-Regular.woff?sha=123456789') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2';
  src: url('fonts/Exo2-Bold.woff2?sha=123456789') format('woff2'), url('fonts/Exo2-Bold.woff?sha=123456789') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2';
  src: url('fonts/Exo2-Italic.woff2?sha=123456789') format('woff2'), url('fonts/Exo2-Italic.woff?sha=123456789') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Exo2';
  src: url('fonts/Exo2-BoldItalic.woff2?sha=123456789') format('woff2'), url('fonts/Exo2-BoldItalic.woff?sha=123456789') format('woff');
  font-weight: 700;
  font-style: italic;
}
