:root {
  --accent: rgb(24, 192, 128);
  --accent-alpha-70: rgba(24, 192, 128,.7);
  --accent-alpha-20: rgba(24, 192, 128,.2);

  --background: white;
  --color: #1D212C;
  --border-color: rgba(0, 0, 0, .1);
  div.logo {
    color: white;
  }
}
