:root {
  --accent: rgb(240,128,48);
  --accent-alpha-70: rgba(240,128,48,.7);
  --accent-alpha-20: rgba(240,128,48,.2);

  --background: white;
  --color: #1D212C;
  --border-color: rgba(0, 0, 0, .1);
  div.logo {
    color: white;
  }
}