:root {
  --accent: rgb(171,105,242);
  --accent-alpha-70: rgba(171,105,242,.7);
  --accent-alpha-20: rgba(171,105,242,.2);

  --background: #1D212C;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
