:root {
  --accent: rgb(162,95,191);
  --accent-alpha-70: rgba(162,95,191,.7);
  --accent-alpha-20: rgba(162,95,191,.2);

  --background: white;
  --color: #1D212C;
  --border-color: rgba(0, 0, 0, .1);
  div.logo {
    color: white;
  }
}
