:root {
  --accent: rgb(46, 169, 223);
  --accent-alpha-70: rgba(46, 169, 223, 0.7);
  --accent-alpha-20: rgba(46, 169, 223, 0.2);

  --background: #21202c;
  --color: white;
  --border-color: rgba(255, 255, 255, 0.1);
}
