{% macro menu(config, current_path) %}
    {%- if config.extra.menu_items %}
        {%- set menu_items = config.extra.menu_items -%}

        <nav class="menu">
            <ul class="menu__inner">
            {%- for item in menu_items %}
                {%- set rel_item_url = item.url | replace(from="$BASE_URL", to="") -%}
                {%- set current = rel_item_url == current_path
                    or rel_item_url == "/" ~ current_path
                    or rel_item_url ~ "/" == "/" ~ current_path
                    or rel_item_url == "" and current_path == "/"
                -%}
                {%- if current %}
                    {%- set_global current_item = item -%}
                {% endif -%}
            {% endfor -%}

            {%- for item in menu_items %}
                {%- set blog_post = not current_item and item.url == "$BASE_URL" -%}
                <li {%- if current_item and item == current_item or blog_post %} class="active" {%- endif %}>
                    {%- if item.newtab -%}
                        <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}" target="_blank" rel="noopener noreferrer">{{ item.name | safe }}</a>
                    {%- else -%}
                        <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}">{{ item.name | safe }}</a>
                    {%- endif -%}
                </li>
            {% endfor -%}
            </ul>
        </nav>
    {% endif -%}
{% endmacro menu %}

