{% component terminimal.post_content(page, summary, show_only_description) %}
    {%- if show_only_description %}
        <div class="post-content">
            {{ page.description | safe }}
        </div>
    {% elif summary and page.summary %}
        <div class="post-content">
            {{ page.summary | safe }}
        </div>
        <div>
            <!-- &#xFE0E; -- force text style - some devices render this as emoji -->
            <a class="read-more button" href="{{ page.permalink | safe }}">
                <span class="button__text">Read more</span>&nbsp;
                <span class="button__icon">&#8617;&#xFE0E;</span>
            </a>
        </div>
    {% else %}
        {#- full content -#}
        <div class="post-content">
            {{ page.content | safe }}
        </div>
    {%- endif %}
{% endcomponent terminimal.post_content %}


{% component terminimal.post_date(page) %}
    <span class="post-date">
        {%- if page.date %}
            {{ page.date | date(format="%Y-%m-%d") }}
        {% endif -%}
    </span>
{% endcomponent terminimal.post_date %}


{% component terminimal.earlier_later(page, config) %}
    {%- if config.extra.enable_post_view_navigation %}
        {%- if page.lower or page.higher %}
            <div class="pagination">
                <div class="pagination__title">
                    <span class="pagination__title-h">{{ config.extra.post_view_navigation_prompt }}</span>
                    <hr />
                </div>
                <div class="pagination__buttons">
                    {%- if page.higher %}
                        <span class="button previous">
                            <a href="{{ page.higher.permalink | safe }}">
                                <span class="button__icon">←</span>&nbsp;
                                <span class="button__text">{{ page.higher.title }}</span>
                            </a>
                        </span>
                    {% endif %}
                    {% if page.lower %}
                        <span class="button next">
                            <a href="{{ page.lower.permalink | safe }}">
                                <span class="button__text">{{ page.lower.title }}</span>&nbsp;
                                <span class="button__icon">→</span>
                            </a>
                        </span>
                    {% endif -%}
                </div>
            </div>
        {% endif -%}
    {% endif -%}
{% endcomponent terminimal.earlier_later %}


{% component terminimal.post_header(page) %}
    <h1 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
    <div class="post-meta-inline">
        {{ <terminimal.post_date page={page} /> }}
    </div>

    {{ <terminimal.post_tags page={page} /> }}
{% endcomponent terminimal.post_header %}


{% component terminimal.list_posts(pages) %}
    <ul>
    {%- for page in pages %}
        {%- if page.draft %}
            {% continue %}
        {% endif -%}
        <li class="post-list">
            <a href="{{ page.permalink | safe }}">
                <span class="post-date">{{ page.date }}</span>
                :: <span class="post-list-title">{{ page.title }}</span></a>
            {{ <terminimal.post_tags page={page} short={true} /> }}
        </li>
    {% endfor -%}
    </ul>
{% endcomponent terminimal.list_posts %}


{% component terminimal.post_tags(page, short=false) %}
    {%- if page.taxonomies and page.taxonomies.tags %}
        <span class="post-tags-inline">
            {%- if short %}
                ::
                {%- set_global sep = "," -%}
            {% else %}
                :: tags:&nbsp;
                {%- set_global sep = "&nbsp;" -%}
            {% endif -%}
            {%- for tag in page.taxonomies.tags | sort | unique %}
                <a class="post-tag" href="{{ get_taxonomy_url(kind='tags', term=tag) | safe }}">#{{ tag }}</a>
                {%- if not loop.last %}{{ sep | safe }}{% endif -%}
            {% endfor -%}
        </span>
    {% endif -%}
{% endcomponent terminimal.post_tags %}
